html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #777;
}

.highlight {
    color: #62c9d5!important;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
    color: #555;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    color: #333;
    font-weight: bold;
}

#team i {
    font-size: 26px;
    color: #555;
}

#team p {
    font-weight: 500;
}

#team .card {
    border-radius: 2.5rem;
    box-shadow: 3px 16px 44px rgb(0 0 0 / 23%);
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}

#team .card:hover {
    background: #62c9d5;
    color: white;
    border-radius: 2.5rem;
    border: none;
    box-shadow: 3px 16px 44px rgb(0 0 0 / 23%);
}

#team .card:hover h3,
#team .card:hover i {
    color: #fff;
}


/* mobile view styling */

@media (max-width:991px) {
    /* mission */
    #mission-col {
        margin-top: 11%;
        text-align: center;
    }
    #mission-sub {
        color: #455A64;
        font-size: 1.5rem;
    }
    /* team styling mobile */
    #team {
        margin-top: 1%;
    }
    .mission-head {
        margin-top: 25%;
    }
    /* early access styling from here */
    #label-id {
        font-size: 1.3rem;
        font-weight: 700;
        color: rgb(3, 43, 53);
    }
    .btn-early {
        background-color: #1ceeee;
        border-radius: 0.75rem;
        font-weight: bold;
        color: rgb(3, 43, 53);
    }
    /*here starts contact us styling */
    #contactUs {
        background-color: rgb(3, 43, 53);
    }
    #contactUs-head {
        font-size: 2.5rem;
        font-weight: 700;
        padding: 2rem 0;
    }
    .contactUs-col {
        padding: 1rem 5rem;
        height: 12rem;
    }
    .conDetails {
        color: white;
        font-size: 1.7rem;
        font-weight: 500;
    }
    /* footer styling  */
    footer {
        border-top: 1px solid #62c9d5;
        background-color: rgb(3, 43, 53);
    }
    .btn-footer {
        background-color: #62c9d5;
        border-radius: 0.75rem;
        font-weight: bold;
        color: rgb(3, 43, 53);
        font-size: 1.3rem;
        margin: 2rem 0;
        max-height: 3rem;
    }
}


/* desktop view styling */

@media(min-width:992px) {
    .card {
        max-width: 25vw!important;
    }
    /* mission */
    #mission-sub {
        color: #455A64;
        font-size: 2rem;
    }
    /* team styling mobile */
    #team {
        margin-top: 10%;
    }
    .mission-head {
        margin-top: 12%;
    }
    /* early access */
    #label-id {
        font-size: 3rem;
        font-weight: 700;
        color: rgb(3, 43, 53);
    }
    #email {
        padding: .5rem 2rem;
        font-size: 1.5rem;
    }
    .btn-early {
        background-color: #1ceeee;
        border-radius: 0.75rem;
        font-weight: bold;
        font-size: 1.5rem;
        color: rgb(3, 43, 53);
        margin: 0rem;
    }
    /*here starts contact us styling */
    #contactUs {
        background-color: rgb(3, 43, 53);
    }
    #contactUs-head {
        color: white;
        font-size: 4rem;
        font-weight: 700;
        margin: 0rem 12rem;
        padding-top: 2rem;
    }
    .contactUs-col {
        margin-left: 6rem;
    }
    .contactUs-img-col {
        margin: 4rem 0rem;
    }
    .conDetails {
        color: white;
        font-size: 2.5rem;
        font-weight: 500;
    }
    /*footer styling  */
    footer {
        border-top: 2px solid #62c9d5;
        background-color: rgb(3, 43, 53);
    }
    .btn-footer {
        background-color: #62c9d5;
        border-radius: 0.75rem;
        font-weight: bold;
        color: rgb(3, 43, 53);
        font-size: 2rem;
        margin: 2.8rem 4.5rem;
    }
}