html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.highlight {
    color: #62c9d5!important;
}


/* mobile view styling */

@media (max-width:991px) {
    header {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 600;
        color: rgb(3, 43, 53);
        margin-top: 15rem;
    }
    /* accordion styling from here */
    .accordion-item:first-of-type {
        border-radius: 1rem;
    }
    .accordion-item:last-of-type {
        border-radius: 1rem;
    }
    .accordion-item:first-of-type .accordion-button {
        border-radius: 1rem;
    }
    .accordion-item:last-of-type .accordion-button.collapsed {
        border-radius: 1rem;
    }
    .accordion-item {
        background-color: rgb(3, 43, 53);
        color: white;
        border-radius: 1rem;
    }
    .accordion-item .accordion-button {
        color: white;
        background-color: #62c9d5;
        border-radius: 1rem;
    }
    /* text input styling from here */
    label {
        display: inline-block;
        font-size: 1.2rem;
        font-weight: 500;
        color: rgb(3, 43, 53);
    }
    textarea.form-control {
        min-height: calc(8.5em + 1.75rem + 2px);
        background-color: #62c9d5;
        border-radius: .5rem;
        opacity: 27%;
        font-size: 1.3rem;
    }
    .btn-ques {
        background-color: #62c9d5;
        border-radius: 0.75rem;
        font-weight: bold;
        color: rgb(3, 43, 53);
    }
    /* early access styling from here */
    #label-id {
        font-size: 1.3rem;
        font-weight: 700;
        color: rgb(3, 43, 53);
    }
    .btn-early {
        background-color: #1ceeee;
        border-radius: 0.75rem;
        font-weight: bold;
        color: rgb(3, 43, 53);
    }
    /*here starts contact us styling */
    #contactUs {
        background-color: rgb(3, 43, 53);
    }
    #contactUs-head {
        font-size: 2.5rem;
        font-weight: 700;
        padding: 2rem 0;
    }
    .contactUs-col {
        padding: 1rem 5rem;
        height: 12rem;
    }
    .conDetails {
        color: white;
        font-size: 1.7rem;
        font-weight: 500;
    }
    /* footer styling  */
    footer {
        border-top: 1px solid #62c9d5;
        background-color: rgb(3, 43, 53);
    }
    .btn-footer {
        background-color: #62c9d5;
        border-radius: 0.75rem;
        font-weight: bold;
        color: rgb(3, 43, 53);
        font-size: 1.3rem;
        margin: 2rem 0;
        max-height: 3rem;
    }
}


/* desktop view styling */

@media(min-width:992px) {
    header {
        text-align: center;
        font-size: 4.5rem;
        font-weight: 600;
        color: rgb(3, 43, 53);
        margin-top: 15rem;
        margin-bottom: 2rem;
    }
    /* accordion styling from here */
    .accordion-item:first-of-type {
        border-radius: 1rem;
    }
    .accordion-item:last-of-type {
        border-radius: 1rem;
    }
    .accordion-item:first-of-type .accordion-button {
        border-radius: 1rem;
    }
    .accordion-item:last-of-type .accordion-button.collapsed {
        border-radius: 1rem;
    }
    .accordion-item {
        background-color: rgb(3, 43, 53);
        color: white;
        border-radius: 1rem;
        font-size: 1.5rem;
    }
    .accordion-item .accordion-button {
        color: white;
        background-color: #62c9d5;
        border-radius: 1rem;
        font-size: 1.5rem;
    }
    /* text input styling from here */
    label {
        display: inline-block;
        font-size: 2.2rem;
        font-weight: 600;
        color: rgb(3, 43, 53);
    }
    textarea.form-control {
        min-height: calc(14em + 1.75rem + 2px);
        background-color: #62c9d5;
        border-radius: .5rem;
        opacity: 27%;
        font-size: 1.5rem;
        color: rgb(3, 43, 53);
    }
    .btn-ques {
        background-color: #62c9d5;
        border-radius: 0.75rem;
        font-weight: bold;
        font-size: 1.5rem;
        color: rgb(3, 43, 53);
    }
    /* early access */
    #label-id {
        font-size: 3rem;
        font-weight: 700;
        color: rgb(3, 43, 53);
    }
    #email {
        padding: .5rem 2rem;
        font-size: 1.5rem;
    }
    .btn-early {
        background-color: #1ceeee;
        border-radius: 0.75rem;
        font-weight: bold;
        font-size: 1.5rem;
        color: rgb(3, 43, 53);
        margin: 0rem;
    }
    /*here starts contact us styling */
    #contactUs {
        background-color: rgb(3, 43, 53);
    }
    #contactUs-head {
        color: white;
        font-size: 4rem;
        font-weight: 700;
        margin: 0rem 12rem;
        padding-top: 2rem;
    }
    .contactUs-col {
        margin-left: 6rem;
    }
    .contactUs-img-col {
        margin: 4rem 0rem;
    }
    .conDetails {
        color: white;
        font-size: 2.5rem;
        font-weight: 500;
    }
    /*footer styling  */
    footer {
        border-top: 2px solid #62c9d5;
        background-color: rgb(3, 43, 53);
    }
    .btn-footer {
        background-color: #62c9d5;
        border-radius: 0.75rem;
        font-weight: bold;
        color: rgb(3, 43, 53);
        font-size: 2rem;
        margin: 2.8rem 4.5rem;
    }
}